body{
    background-color: brown;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: 550px;
    width: fit-content;
}

.header{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}


